*,
:root {
  font-family: sans-serif, monospace;
  --content-width: 200px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  position: fixed;
}

.topbar {
  width: 100%;
  height: 7px;
  position: sticky;
  z-index: 99;
  padding: 3px 7px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkslategrey;
  cursor: pointer;
}

.sidebar {
  height: calc(100vh - 50px);
  width: var(--content-width);
  position: fixed;
  margin: 8px 0;
}

.sidebarWrapper {
  padding: 15px 5px;
}

.sidebarTitle {
  font-size: 1rem;
  color: rgb(82, 73, 73);
  letter-spacing: 1px;
}

.sidebarList {
  list-style: none;
  padding: 0 3px;
  font-size: 1.1rem;
}

.sidebarLink {
  text-decoration: none;
}

.sidebarListItem {
  padding: 8px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

a .sidebarLink,
.sidebarListItem.active,
.sidebarListItem:hover {
  background: rgb(174, 226, 243);
  color: black;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 1rem;
}

.signout-link {
  position: fixed;
  bottom: 20px;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.content {
  position: absolute;
  left: var(--content-width);
  top: 10px;
}

.menu-btn {
  cursor: pointer;
  top: 5px;
  position: relative;
  left: 0;
}

.menu-btn .sidebarIcon {
  font-size: 1.7rem;
  font-weight: bold;
}