*,
:root {
    font-family: sans-serif, monospace;
    font-weight: 500;
    --content-width: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    position: fixed;
}

.topbar {
  width: 100%;
  height: 10px;
  background-color: white;
  position: sticky;
  z-index: 99;
  margin-top: 5px;
}

.topbarWrapper {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.sidebar {
  height: calc(100vh - 50px);
  width: var(--content-width);
  position: fixed;
}

.sidebarWrapper {
  padding: 40px 10px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 16px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
  font-size: 14px;
}

.sidebarLink {
  text-decoration: none;
}

.sidebarListItem {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

a .sidebarLink,
.signout-link,
.sidebarListItem.active,
.sidebarListItem:hover {
  background: rgb(228, 228, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.signout-link {
  position: fixed;
  bottom: 20px;
  text-decoration: none;
  align-items: center;
  padding: 8px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.content {
    position: absolute;
    left: var(--content-width);
    top: 10px;
}

.menu-btn {
    cursor: pointer;
    top: 5px;
    position: relative;
    font-size: 25px;
    left: 0;
}