.servicesContainer {
  padding: 10px;
  background-color: #f8f9fc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.servicesWrapper {
  width: 100%;
}

.servicesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.leftBar {
  display: flex;
  flex-direction: column;
}

.servicesTitle {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
}

.servicesInfo {
  font-size: 14px;
  color: #6c757d;
}

.rightBar {
  display: flex;
  align-items: center;
}

.addserviceBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addserviceBtn:hover {
  background-color: #0056b3;
}

.addIcon {
  margin-right: 8px;
}

.servicesTableWrapper {
  overflow-x: auto;
}

.servicesTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.servicesTable th,
.servicesTable td {
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #e9ecef;
  font-size: 14px;
}

.servicesTable th {
  background-color: #f1f3f5;
  color: #495057;
}

.servicesTable td {
  color: #495057;
}

.servicesTable tbody tr:hover {
  background-color: #f8f9fa;
}

.actionBtn {
  padding: 5px 8px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.editBtn {
  background-color: #ffc107;
}

.deleteBtn {
  background-color: #dc3545;
}

.status,
.availability,
.unavailability {
  padding: 8px;
  border-radius: 20px;
  font-weight: bold;
}

.status {
  background-color: rgba(162, 255, 162, 0.452);
  color: rgba(0, 100, 0, 0.63);
}

.availability {
  background-color: lightgoldenrodyellow;
  color: rgba(0, 100, 0, 0.63);
}

.unavailability {
  background-color: rgba(248, 109, 109, 0.459);
  color: rgba(0, 100, 0, 0.63);
}