{% extends "pages/root.html" %} {% load static %} {% block head %}
<title>Staff Details</title>
<link rel="stylesheet" href="{% static 'pages/staff.css' %}" />
{% endblock %} {% block content %}
<section class="viewStaffDetails">
  <div class="staff-details-wrapper">
    <!-- Header with Return Button -->
    <div class="header-bar">
      <button class="returnBtn">
        <a href="{% url 'staffs' %}">
          <i class="fa-solid fa-arrow-left"></i> Return to Employees
        </a>
      </button>
    </div>

    <!-- Main Card Section -->
    <div class="card-container">
      <div class="identity-details">
        <!-- Profile Picture -->
        <div class="avatar">
          <img src="{% static 'img/avatar.jpg' %}" alt="avatar" />
        </div>
        <!-- Basic Information -->
        <div class="basic-info">
          <h2 class="staff-name">{{ staff.name }}</h2>
          <div class="minor-details">
            <div class="detail-item">
              <span>Staff ID:</span>
              <strong>{{ staff.id }}</strong>
            </div>
            <div class="detail-item">
              <span>Date Hired:</span>
              <strong>{{ staff.created_at }}</strong>
            </div>
          </div>
        </div>
      </div>

      <!-- Detailed Information -->
      <div class="staff-details">
        <div class="staff-detail">
          <span>Role:</span>
          <strong>{{ staff.role }}</strong>
        </div>
        <div class="staff-detail">
          <span>Department:</span>
          <strong>{{ staff.department }}</strong>
        </div>
        <div class="staff-detail">
          <span>National ID:</span>
          <strong>{{ staff.national_id }}</strong>
        </div>
        <div class="staff-detail">
          <span>Gender:</span>
          <strong>{{ staff.gender }}</strong>
        </div>
        <div class="staff-detail">
          <span>Contact Number:</span>
          <strong>{{ staff.contact }}</strong>
        </div>
        <div class="staff-detail">
          <span>Commission:</span>
          <strong>KSH {{ staff.commission }}</strong>
        </div>
        <div class="staff-detail">
          <span>Salary:</span>
          <strong>KSH {{ staff.salary }}</strong>
        </div>
        <div class="staff-detail">
          <span>Status:</span>
          {% if staff.status == 'Active' %}
          <strong class="status active">{{ staff.status }}</strong>
          {% else %}
          <strong class="status inactive">{{ staff.status }}</strong>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
      <button class="actionBtn updateBtn">
        <a href="{% url 'update' staff.id}">Edit Entry</a>
      </button>
      <button class="actionBtn deleteBtn">
        <a href="{% url 'delete' staff.id %}">Delete Entry</a>
      </button>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script>
</script>
{% endblock %}