<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="static/pages/root.css" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="navbar-content">
        <div class="topbar">
          <div class="topbarWrapper">
            <div class="topLeft">
              <div class="logo">Car Wash</div>
            </div>
          </div>
        </div>
        <aside class="sidebar">
          <div class="sidebarWrapper">
            <div class="sidebarMenu">
              <h3 class="sidebarTitle">Overview</h3>
              <ul class="sidebarList">
                <a class="sidebarLink" href="{{ url_for('dashboard') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-house"></i>
                    </span>
                    Home
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('sales') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    Sales
                  </li>
                </a>
              </ul>
            </div>

            <hr width="80%" size="1" color="#bbb9b9">

            <div class="sidebarMenu">
              <h3 class="sidebarTitle">System</h3>
              <ul class="sidebarList">
                <a class="sidebarLink" href="{{ url_for('clients') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-users"></i>
                    </span>
                    Clients
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('services') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-regular fa-bookmark"></i>
                    </span>
                    Services
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('transactions') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-coins"></i>
                    </span>
                    Transactions
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('reports') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-regular fa-file-lines"></i>
                    </span>
                    Reports
                  </li>
                </a>
              </ul>
            </div>

            <hr width="80%" size="1" color="#bbb9b9">

            <div class="sidebarMenu">
              <h3 class="sidebarTitle">Management</h3>
              <ul class="sidebarList">
                <a class="sidebarLink" href="{{ url_for('staff') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-layer-group"></i>
                    </span>
                    Branches
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('staff') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-users-gear"></i>
                    </span>
                    Team Members
                  </li>
                </a>
                <a class="sidebarLink" href="{{ url_for('staff') }}">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-gear"></i>
                    </span>
                    Settings
                  </li>
                </a>
                <a class="sidebarLink signout-link" href="">
                  <li class="sidebarListItem">
                    <span class="sidebarIcon">
                      <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    Sign-out
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="content">
        <div class="closebar">
          <div class="menu-btn">
            <span class="sidebarIcon">
              <i class="fa-solid fa-bars"></i>
            </span>
          </div>
        </div>
        {% block content %} {% endblock %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      // opening and closing the sidebar
      let sideBar = document.querySelector(".navbar-content");
      let dashboardContent = document.querySelector(".content");
      let menuBtn = document.querySelector(".menu-btn i");

      menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("active");
        let isOpen = menuBtn.classList.contains("active");

        menuBtn.classList.toggle("fa-bars", !isOpen);
        menuBtn.classList.toggle("fa-times", isOpen);

        sideBar.style.display = isOpen ? "none" : "block";
        dashboardContent.style.left = isOpen ? "10px" : "var(--content-width)";
      });
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
