{% extends "pages/root.html" %} {% load static %} {% block head %}
<title>Services</title>
<link rel="stylesheet" href="{% static 'pages/compact.css' %}" />
{% endblock %} {% block content %}
<div class="itemContainer">
  <div class="itemWrapper">
    <div class="itemHeader">
      <div class="leftBar">
        <h2 class="itemTitle">Services</h2>
        <span class="itemInfo">List of services being offered.</span>
      </div>
      <div class="rightBar">
        <button class="additemBtn">
          <span class="addIcon">
            <i class="fa-solid fa-plus"></i>
          </span>
          Add New Service
        </button>
      </div>
    </div>
    {% if data %}
    <div class="itemTableWrapper">
      <table class="itemTable">
        <thead>
          <tr>
            <th>Service ID</th>
            <th>Name</th>
            <th>Cost (KSH)</th>
            <th>Discount (%)</th>
            <th>Status</th>
            <th>Availability</th>
            <th></th>
          </tr>
        </thead>
        <!-- staff section table -->
        <tbody class="itemTableBody">
          {% for service in data %}
          <tr>
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.cost }}</td>
            <td>{{ service.discount }}</td>
            <td>
              <span class="status {% if service.status == 'offered' %} active {% else %} inactive {% endif %}">{{ service.status }}</span>
            </td>
            <td>
              <span class="status {% if service.availability == 'available' %} active {% else %} inactive {% endif %}">{{ service.availability }}</span>
            </td>
            <td>
              <form action="{% url 'services' %}" method="POST">
                {% csrf_token %}
                <button class="actionBtn editBtn">Edit</button>
                <button class="actionBtn deleteBtn" name="delete" value="{{ service.id }}">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="no-content">
      <h2 class="no-info">NO CONTENT TO DISPLAY</h2>
      <input type="file" name="load-data" id="load-data">
    </div>
    {% endif %}
  </div>
</div>
<section class="additem">
  <div class="itemHeader">
    <div class="leftBar">
      <h2 class="itemInfo">Add New Service</h2>
    </div>
    <div class="rightBar">
      <button class="closeFormBtn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="itemForm">
    <form action="{% url 'services' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="saveitemBtn">Save Service</button>
    </form>
  </div>
</section>
{% endblock %}