{% extends "pages/root.html" %} {% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="static/pages/services.css" />
{% endblock %} {% block content %}
<div class="servicesContainer">
  <div class="service">
    <div class="servicesHeader">
      <div class="leftBar">
        <h2 class="servicesTitle">Services</h2>
        <span class="servicesInfo">List of services being offered.</span>
      </div>
      <div class="rightBar">
        <button class="addserviceBtn">
          <span class="addIcon">
            <i class="fa-solid fa-plus"></i>
          </span>
          Add New Service
        </button>
      </div>
    </div>
    <div class="servicesTableWrapper">
      <table class="servicesTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Cost (KSH)</th>
            <th>Commission (KSH)</th>
            <th>Sales</th>
            <th>Revenue (KSH)</th>
            <th>Discount (%)</th>
            <th>Status</th>
            <th>Availability</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="servicesTableBody"></tbody>
      </table>
    </div>
  </div>
</div>
<section class="addService">
  <div class="servicesHeader">
    <div class="leftBar">
      <span class="servicesInfo">Add New Service</span>
    </div>
    <div class="rightBar">
      <button class="closeFormBtn addserviceBtn">
        <span class="addIcon">
          <i class="fa-solid fa-xmark"></i>
        </span>
      </button>
    </div>
  </div>
  <div class="serviceForm">
    <form action="{{ url_for('add_new_service') }}" method="POST">
      <div class="serviceInput">
        <span>Service Name</span>
        <input type="text" />
      </div>
      <div class="serviceInput">
        <span>Service Cost (KSH)</span>
        <input type="number" />
      </div>
      <div class="serviceInput">
        <span>Service Commission (KSH)</span>
        <input type="number" />
      </div>
      <div class="serviceInput">
        <span>Service Discount (%)</span>
        <input type="number" />
      </div>
      <div class="serviceInput">
        <span>Service Status</span>
        <input type="text" />
      </div>
      <div class="serviceInput">
        <span>Service Availability</span>
        <input type="text" />
      </div>
      <button type="submit" class="addserviceBtn">Save Service</button>
    </form>
  </div>
</section>
{% endblock %} {% block script %}
<script>
  const dummyData = [
    {
      id: 1,
      name: "cleaning",
      cost: 2000,
      commission: 200,
      sales: 5,
      revenue: 10000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 2,
      name: "servicing",
      cost: 500,
      commission: 50,
      sales: 6,
      revenue: 3000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 3,
      name: "buffing",
      cost: 1000,
      commission: 100,
      sales: 8,
      revenue: 8000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 4,
      name: "oiling",
      cost: 3000,
      commission: 300,
      sales: 3,
      revenue: 9000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 5,
      name: "riming",
      cost: 1500,
      commission: 150,
      sales: 3,
      revenue: 4500,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 6,
      name: "engine bay",
      cost: 5000,
      commission: 500,
      sales: 5,
      revenue: 25000,
      discount: 0,
      status: "offered",
      availability: "unavailable",
    },
    {
      id: 7,
      name: "window cleaning",
      cost: 200,
      commission: 20,
      sales: 20,
      revenue: 4000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 8,
      name: "interior vacuuming",
      cost: 1000,
      commission: 100,
      sales: 15,
      revenue: 15000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 9,
      name: "tyre shining",
      cost: 500,
      commission: 50,
      sales: 12,
      revenue: 6000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 10,
      name: "seat shampooing",
      cost: 2500,
      commission: 250,
      sales: 8,
      revenue: 20000,
      discount: 0,
      status: "offered",
      availability: "unavailable",
    },
    {
      id: 11,
      name: "dashboard polishing",
      cost: 1500,
      commission: 150,
      sales: 10,
      revenue: 15000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 12,
      name: "carpet cleaning",
      cost: 1200,
      commission: 120,
      sales: 6,
      revenue: 7200,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 13,
      name: "underbody wash",
      cost: 3000,
      commission: 300,
      sales: 5,
      revenue: 15000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 14,
      name: "engine steam cleaning",
      cost: 3500,
      commission: 350,
      sales: 4,
      revenue: 14000,
      discount: 0,
      status: "offered",
      availability: "unavailable",
    },
    {
      id: 15,
      name: "paint protection",
      cost: 5000,
      commission: 500,
      sales: 2,
      revenue: 10000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 16,
      name: "headlight restoration",
      cost: 2000,
      commission: 200,
      sales: 3,
      revenue: 6000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 17,
      name: "body waxing",
      cost: 4000,
      commission: 400,
      sales: 6,
      revenue: 24000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 18,
      name: "odour removal",
      cost: 1500,
      commission: 150,
      sales: 7,
      revenue: 10500,
      discount: 0,
      status: "offered",
      availability: "unavailable",
    },
    {
      id: 19,
      name: "scratch removal",
      cost: 5000,
      commission: 500,
      sales: 2,
      revenue: 10000,
      discount: 0,
      status: "offered",
      availability: "available",
    },
    {
      id: 20,
      name: "roof lining cleaning",
      cost: 2500,
      commission: 250,
      sales: 5,
      revenue: 12500,
      discount: 0,
      status: "offered",
      availability: "available",
    },
  ];

  const dataBody = document.querySelector(".servicesTableBody");

  dummyData.forEach((service) => {
    const row = document.createElement("tr");

    row.innerHTML = `
      <td>${service.id}</td>
      <td>${service.name}</td>
      <td>${service.cost.toLocaleString()}</td>
      <td>${service.commission.toLocaleString()}</td>
      <td>${service.sales}</td>
      <td>${service.revenue.toLocaleString()}</td>
      <td>${service.discount}</td>
      <td><span class="status">${service.status}</td>
      <td>
      <span class="${
        service.availability === "available" ? "availability" : "unavailability"
      }">${service.availability}</span>
    </td>
      <td>
        <button class="actionBtn editBtn">Edit</button>
        <button class="actionBtn deleteBtn">Delete</button>
      </td>
    `;
    dataBody.appendChild(row);
  });

  // open and close the form
  let service = document.querySelector(".servicesContainer");
  let form = document.querySelector(".addService");
  let addBtn = document.querySelector(".addserviceBtn");
  let closeBtn = document.querySelector(".closeFormBtn");

  addBtn.addEventListener("click", () => {
    service.style.display = "none";
    form.style.display = "block";
  });

  closeBtn.addEventListener("click", () => {
    form.style.display = "none";
    service.style.display = "block";
  });
</script>
{% endblock %}