{% extends "pages/root.html" %} {% load static %} {% block head %}
<title>Staff</title>
<link rel="stylesheet" href="{% static 'pages/staff.css' %}" />
{% endblock %} {% block content %}
<div class="staffContainer">
  <div class="staffWrapper">
    <div class="staffHeader">
      <div class="leftBar">
        <h2 class="staffTitle">Staff</h2>
        <span class="staffInfo">List of staff</span>
      </div>
      <div class="rightBar">
        <button class="addstaffBtn">
          <span class="addIcon">
            <i class="fa-solid fa-plus"></i>
          </span>
          Add New Staff
        </button>
      </div>
    </div>
    <div class="staffTableWrapper">
      <table class="staffTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Contact Number</th>
            <th>Commission (KSH)</th>
            <th>Salary (KSH)</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <!-- staff section table -->
        <tbody class="staffTableBody">
          {% for staff in staffs %}
          <tr>
            <td>{{ staff.id }}</td>
            <td>{{ staff.national_id }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.role }}</td>
            <td>{{ staff.department }}</td>
            <td>{{ staff.contact }}</td>
            <td>{{ staff.commission }}</td>
            <td>{{ staff.salary }}</td>          
            <td>
              {% if staff.status == 'Active' %}
              <span class="status active">{{ staff.status }}</span>
              {% else %}
              <span class="status inactive">{{ staff.status }}</span>
              {% endif %}
            </td>
            <td>
              <button class="viewDetail actionBtn editBtn">
                <a href="">View</a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<section class="addStaff">
  <div class="staffHeader">
    <div class="leftBar">
      <h2 class="staffInfo">Add New Staff</h2>
    </div>
    <div class="rightBar">
      <button class="closeFormBtn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="staffForm">
    <form action="{% url 'staffs' %}" method="POST">
      {% csrf_token %}
      <div class="formGrid">
        <div class="staffInput">
          <label for="name">Staff Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter staff name"
          />
        </div>
        <div class="staffInput">
          <label for="staff_id">Staff ID</label>
          <input
            type="number"
            name="staff_id"
            id="staff_id"
            placeholder="Enter Staff National ID"
          />
        </div>
        <div class="staffInput">
          <label for="email">Staff Contact Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter contact email"
          />
        </div>
        <div class="staffInput">
          <label for="gender">Staff Gender</label>
          <select name="gender" id="gender">
            <option value="">Select gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="staffInput">
          <label for="role">Staff Role</label>
          <input
            type="text"
            name="role"
            id="role"
            placeholder="Enter staff role"
          />
        </div>
        <div class="staffInput">
          <label for="department">Staff Department</label>
          <input
            type="text"
            name="department"
            id="department"
            placeholder="Enter department"
          />
        </div>
        <div class="staffInput">
          <label for="contact">Staff Contact Number</label>
          <input
            type="tel"
            name="contact"
            id="contact"
            placeholder="Enter contact number"
          />
        </div>
        <div class="staffInput">
          <label for="commission">Staff Commission (KSH)</label>
          <input
            type="number"
            name="commission"
            id="commission"
            placeholder="Enter commission amount"
          />
        </div>
        <div class="staffInput">
          <label for="salary">Staff Salary (KSH)</label>
          <input
            type="number"
            name="salary"
            id="salary"
            placeholder="Enter salary"
          />
        </div>
        <div class="staffInput">
          <label for="status">Staff Status</label>
          <select name="status" id="status">
            <option value="">Select status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
      </div>
      <button type="submit" class="saveStaffBtn">Save Staff</button>
    </form>
  </div>
</section>
{% endblock %} {% block script %}
<script>
  // open and close the form
  let service = document.querySelector(".staffContainer");
  let form = document.querySelector(".addStaff");
  let addBtn = document.querySelector(".addstaffBtn");
  let closeBtn = document.querySelector(".closeFormBtn");

  addBtn.addEventListener("click", () => {
    service.style.display = "none";
    form.style.display = "block";
  });

  closeBtn.addEventListener("click", () => {
    form.style.display = "none";
    service.style.display = "block";
  });
</script>
{% endblock %}