{% extends "pages/root.html" %} {% load static %} {% block head %}
<title>Staff</title>
<link rel="stylesheet" href="{% static 'pages/compact.css' %}" />
{% endblock %} {% block content %}
<div class="itemContainer">
  <div class="itemWrapper">
    <div class="itemHeader">
      <div class="leftBar">
        <h2 class="itemTitle">Staff</h2>
        <span class="itemInfo">List of staff</span>
      </div>
      <div class="rightBar">
        <button class="additemBtn">
          <span class="addIcon">
            <i class="fa-solid fa-plus"></i>
          </span>
          Add New Staff
        </button>
      </div>
    </div>
    {% if data %}
    <div class="itemTableWrapper">
      <table class="itemTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Department</th>
            <th>Contact Number</th>
            <th>Commission (KSH)</th>
            <th>Salary (KSH)</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <!-- staff section table -->
        <tbody class="itemTableBody">
          {% for staff in data %}
          <tr>
            <td>{{ staff.id }}</td>
            <td>{{ staff.national_id }}</td>
            <td>{{ staff.name }}</td>
            <td>{{ staff.role }}</td>
            <td>{{ staff.department }}</td>
            <td>{{ staff.contact }}</td>
            <td>{{ staff.commission }}</td>
            <td>{{ staff.salary }}</td>
            <td>
              {% if staff.status == 'Active' %}
              <span class="status active">{{ staff.status }}</span>
              {% else %}
              <span class="status inactive">{{ staff.status }}</span>
              {% endif %}
            </td>
            <td>
              <button class="viewDetail actionBtn editBtn">
                <a href="{% url 'details' staff.id %}">View</a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="no-content">
      <h2 class="no-info">NO CONTENT TO DISPLAY</h2>
      <input type="file" name="load-data" id="load-data">
    </div>
    {% endif %}
  </div>
</div>
<section class="additem">
  <div class="itemHeader">
    <div class="leftBar">
      <h2 class="itemInfo">Add New Staff</h2>
    </div>
    <div class="rightBar">
      <button class="closeFormBtn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
  <div class="itemForm">
    <form action="{% url 'staffs' %}" method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="saveitemBtn">Save Staff</button>
    </form>
  </div>
</section>
{% endblock %}