{% extends "pages/root.html" %} {% load static %} {% block head %}
<title>Transactions</title>
<link rel="stylesheet" href="{% static 'pages/compact.css' %}" />
{% endblock %} {% block content %}
<div class="itemContainer">
  <div class="itemWrapper">
    <div class="itemHeader">
      <div class="leftBar">
        <h2 class="itemTitle">Transactions</h2>
        <span class="itemInfo">List of transactions.</span>
      </div>
    </div>
    {% if data %}
    <div class="itemTableWrapper">
      <table class="itemTable">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Service Availed</th>
            <th>Staff</th>
            <th>Car Plate</th>
            <th>Date of Service</th>
            <th>Payment Method</th>
            <th>Cost (KSH)</th>
            <th>Discount (KSH)</th>
            <th>Total Paid (KSH)</th>
            <th></th>
          </tr>
        </thead>
        <!-- staff section table -->
        <tbody class="itemTableBody">
          {% for transaction in data %}
          <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.service }}</td>
            <td>{{ transaction.staff }}</td>
            <td>{{ transaction.carPlate }}</td>
            <td>{{ transaction.dateTime }}</td>
            <td>{{ transaction.paymentMethod }}</td>
            <td>{{ transaction.cost }}</td>
            <td>{{ transaction.discount }}</td>
            <td>{{ transaction.totalPaid }}</td>
            <td>
              <button class="actionBtn deleteBtn">Delete</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="no-content">
      <h2 class="no-info">NO CONTENT TO DISPLAY</h2>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}